@import "../base/variables";
@import "../header/index";
@import "../components/bookingbox/vertical";
@import "../components/breadcrumb/index";
@import "../components/tables/option-one";
@import "../components/faqs/general";
@import "../footer/index";

div.banner{
    picture{
        img, source{
            width: 100%;
            height: auto;
            margin-bottom: -5px;
        }
    }
}

div.main-content{
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-column-gap: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    > div.left{
        > div.bookingbox{
            box-shadow: 0 0 40px 0 rgba(145,161,180,.502);
            background-color: #fff;
            border-radius: 16px;
            padding: 16px;
        }
    }
    > div.right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        > h1{
            font-size: 25pt;
            font-weight: normal;
        }
        > h2{
            font-weight: normal;
        }
    }
    @media (max-width: 850px) {
        grid-template-columns: 1fr;
        grid-row-gap: 25px;
    }
}

.bg_blue_one{
    background: #007BFF;
    padding-top: 60px;
    padding-bottom: 80px;
    > div.content_one{
        display: flex;
        flex-direction: column;
        gap: 15px;
        > div.top{
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 15px;
            > h2{
                color: white;
                font-size: 23pt;
                font-weight: 500;
            }
            > p{
                color: white;
            }
        }
        > div.bottom{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 25px;
            grid-row-gap: 25px;
            > div{
                display: grid;
                grid-template-columns: 70px 1fr;
                grid-column-gap: 15px;
                > div{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    color: white;
                    &:nth-child(1){
                        border-radius: 8px;
                        background: rgba(255, 255, 255, 0.25);
                        display: flex;
                        align-items: center;
                        justify-content: center;                    
                    }
                    &:nth-child(2){
                        *:nth-child(1){
                            font-weight: bold;
                        }
                    }
                }
            }
            @media (max-width: 850px) {
                grid-template-columns: 1fr;
            }
        }
    }
}

div.content_two{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    > div.top{
        text-align: center;
        > h2{
            font-size: 23pt;
            font-weight: 500;
        }
    }
    > div.bottom{
        display: grid;
        grid-template-columns: 1fr 250px 300px;
        grid-column-gap: 25px;
        padding-top: 15px;
        > *:nth-child(1){
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 15px;
        }
        > iframe{
            width: 100%;
            min-height: 100%;
        }
        > div.faqs-accordion{
            display: flex;
            flex-direction: column;
            gap: 25px;
            > div{            
                border-radius: 15px;
                border: 1px solid #C3CCE8;
                
                > h3{
                    border-bottom: 1px solid #C3CCE8;                
                    cursor: pointer;
                    display: grid;
                    grid-template-columns: 1fr 25px;
                    grid-column-gap: 15px;
                    padding: 20px;
                    &::after{
                        content: "";
                        transition: transform 0.3s ease-in-out;
                        transform: rotate(180deg);
                        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAD7SURBVHgB7dNLDgFBEAbgvybY2DiCI3ADXAQ3YGGDRXvFlhPgIriBG+AGrEm0mpfMo4YeK5L5k+5kJl31TXdngCxZ/joUe9PTFRRxhaIz0kZpey45I1BvhRYNdAcFHHDHjgvKSJM+AzdUufbE44ihrsnIw/kKO+VUUN/ZQZXPZevtJJQwMifF8yYVJAGEMaa095eQWDjQa56b3tMZedTFO5KBEQMquExGTCAZUAyMoq2SERda8dx6QTk0uOLEFxwFbLGLGS2lNu+RJOjOjYOAhTYmtElq8RmRIP9fMADMkTgEU8COBdPMqM2ftIB7/hdT4Lt0dMkZWbL8RJ650VuJPQ9MkgAAAABJRU5ErkJggg==');
                        display: flex;
                        align-self: center;
                        width: 25px;
                        height: 21px;
                    }
                }
                > div{
                    padding: 20px;
                    > p{
                        line-height: 1.5;
                        margin-bottom: 15px;
                    }
                    > ul, > ol{
                        li{
                            line-height: 1.5;
                            margin-bottom: 15px;
                        }
                    }
                    > h3{
                        margin-bottom: 15px;
                    }
                }
                &.hidden{
                    > h3{
                        border-bottom: 0px;                    
                        &::after{
                            transition: transform 0.3s ease-in-out;
                            transform: rotate(0deg);
                        }
                    }
                    > div{
                        display: none;
                    }
                }
            }
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
            grid-row-gap: 25px;
        }
    }
}

div.services_list_blue{
    background: rgba(55, 125, 255, 0.03);
    > div.services_list{
        padding-top: 35px;
        padding-bottom: 35px;
        display: flex;
        flex-direction: column;
        gap: 15px;        
        > div.top{
            text-align: center;
            > h2{
                font-size: 23pt;
                font-weight: 500;
            }
        }
        > div.bottom{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 35px;
            > div{
                display: flex;
                flex-direction: column;
                gap: 15px;
                > div.vehicles{
                    background-color: white;
                    padding: 15px;
                    border-radius: 16px;
                    border: 1px solid #C2D7DE;
                    text-align: center;
                    > picture{
                        > img{
                            width: 100%;
                            height: auto;
                            max-width: 220px;
                        }
                    }
                    *:nth-child(3){
                        font-weight: bold;
                        font-size: 14pt;
                    }
                }
                > div.information{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    > *:nth-child(1){
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        &::before{
                            content: '';
                            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAVCAYAAABPPm7SAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFOSURBVHgBzZQ/TsMwFMa/9yIkpA6UG4QNmCpYGC1OUKEeoAOgbnRkazrCQtkqYGj3IJULgEcWJCZWwg3SgamyjROoRBtbVTL1JyWO3r/YT98zwYNodkJmJSjAlpoFT3IyTFxx5DIet857domWzNFzfNdfjg0KySdnbRAN4NjUzv7h9PPj7fW/kQthTBfwQSj42BHWgA+DcHUBQgJfvsPHjr+M4YEcvkITbZNkuHewTURHC3WNHr883ncLReFBtE4Fg0X2raGljB8k1pLCEUSzW8fGd8gKjUzGuVHTlyJOZTyU3gKi1REE1aNcB1SHD0Mjrag/n428gNX+jV26KEc2F1HwNziXKI+wz5TtHtqoTo9d+i5BnQ1MiuqkTKBbVMQYMwrm2re92LXFNlfl/L5MamOvjapdLQgp17+m0F4qoTNdm0QHeMeslsjJID/6Dz/1aJ/G2ahLAAAAAElFTkSuQmCC');
                            background-size:cover;
                            width: 12px;
                            height: 12px;
                        }
                    }
                    > *:nth-child(2){
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        &::before{
                            content: '';
                            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAZCAYAAAArK+5dAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEbSURBVHgB7ZXBTcNAEEX/TgxnlxBRgTtgoQIjwT0XEEdEA3Eq4IoIEgXgQyogmwpIB7gDTrlEyk7GtmJtrMgbJc4hkt/BXntm/pfmSzbQ4UHt06Tjl5BoEYNUvxgi/K2WNDOT98w36zXQD48RMabSGtYmMwu+M9/jedN8AA/E6ktuIYONgprl7+R8rVjpHuhNHm+OMhCi/DJNx5WQjgehCi7/xUj7hrcM3F3/pB+JW7u9f0qahPL6rmwqg3LXC3fXSU1jiGaGbGWlFzYTrSob2lTLXdeCPARGv8dFNqWuU4rQEm42hBPTGXQG52TAwC9aQrTmOwzsa1lrwYAx2pyrj51JP42On68osINa/wj7UfRZxROTNv+EOrZYA+IyWnkoA/B/AAAAAElFTkSuQmCC');
                            background-size:cover;
                            width: 15px;
                            height: 15px;
                        }
                    }
                    > div{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-column-gap: 15px;
                        grid-row-gap: 15px;
                        > *:nth-child(1){
                            > *:nth-child(1){
                                font-weight: bold;
                            }
                            > *:nth-child(2){
                                font-size: 20pt;
                                font-weight: bold;
                                color: #377DFF;
                            }
                        }
                        > *:nth-child(2){
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            > a{
                                display: flex;
                                align-items: center;
                                gap: 16px;
                                border-radius: 8px;
                                background: linear-gradient(0deg, rgba(55, 125, 255, 0.10) 0%, rgba(55, 125, 255, 0.10) 100%), #FFF;
                                padding: 8px 8px 12px 8px;
                                &::after{                                    
                                    content: '';
                                    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAApCAYAAABHomvIAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAE/SURBVHgB7ddBTsJAFMbxbwp7yw28gWw0LKsn8Agcwb1GRk/gicSlceMR8AhdkpjynM9A0pAMkPR7C5L5JwQyTdtfWuABUCqVSufT7MkWN8+2gLAAUcRZQORrPn+9hhcIkgBn0S43Hb7TwerdmgpZQdBnDD82wq0B7W4tGKLidstuMbuONg0dlsorKQUyNVIOZEqkC5CpkG5ApkC6AtlQpDuQDUFmgf9fvr+YQ1WFq3Sy+/7SKcg88NEaq7CEc8eQkkkypDRx5s2D1bnt49yGaoy222AFUWkMTvrvwW2rMMLdx1toc/u5f0iaaDDDZN3hPZ1tij0c5/ih/V2BQ3HMDajAMRegCsfkQCWOSYFqHJMBPXBMAvTCMdUkqT1wTAJcc0IEXPSWJDim+1+cfv0YryIPKsLJI5IPlEql0vn0B+ACzV6Y3g0VAAAAAElFTkSuQmCC');
                                    width: 35px;
                                    height: 33px;
                                }
                            }
                        }
                        @media (max-width: 767px) {
                            grid-template-columns: 1fr;
                            grid-row-gap: 0px;
                        }
                        @media (max-width: 500px) {
                            grid-template-columns: 1fr 1fr;
                            grid-row-gap: 15px;
                        }
                        @media (max-width: 350px) {
                            grid-template-columns: 1fr;
                            grid-row-gap: 0px;
                        }
                    }
                }
            }
            @media (max-width: 500px) {
                grid-template-columns: 1fr;
                grid-row-gap: 25px;
            }
        }
    }
}

div.content_three{
    padding-top: 35px;
    padding-bottom: 50px;
    > div.top{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 15px;
        > h2{
            font-size: 23pt;
            font-weight: 500;
        }
    }
    > div.bottom{
        padding-top: 25px;
    }
}

.bg_blue_two{
    background: #007BFF;    
    div.content_four{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 25px;
        > div.left{
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;
            gap: 15px;
            > h2{
                font-size: 23pt;
                font-weight: 500;                
            }
            > div{
                display: flex;
                gap: 8px;
                picture{
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                > div{
                    > p{
                        &:nth-child(1){
                            display: flex;
                            align-items: center;
                            font-weight: bold;
                            font-size: 12pt;
                            &::before{
                                content: '';
                                background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAZCAYAAAArK+5dAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGsSURBVHgB7VVLTgJBEK3qGRASF3MDR08ARBKX6JZP5AbcADiB6AWECxg5AfHDXncmgIwnkCPMwgQCTJfVKCg4Az3EJW9Vmfr2q9c9ADv8J4athD18OM6EyRFhgsEwagh0HiYFdQPV9CJivrPpRifTQyw6rk6e/gkMkfm2rJFpVnTTtBsIxIsfG8raeTpBw/tUCRDtX58s3WUH7mDYOrFnhjm1eeJrthIriY5HUDUEut7YcOPFl8HaBuN2ukxSfnG7PG0IkIuAA258F893a+rLgqJottOQgM3ti88msyTR87z4UgMF5ZAEl7AlVG4s31tSmO8O1FKFEDegfU/IlVJU44XO7aonsMBHO52ISNnaSBnRYCK84n7WcfzcgTLdz3Yc9jqwAYjiKaj42gb8NDCpy9L0A5HMrPOvu2i2lqI4ZnFnwjQQhrE6PTEaUlLzT7AxzgTWCXJIgPmzTKyEPkvwTEkwXuiVEKdJtdx5LCIGUumrImL+xxGzz9YBAV7Fct26X9zoMVVBwjJ3cPdy3SSEOIHFP5Z+dOIdBRVXiOVe63LqnTJtbzyUBTtsg0+p6ZgholK7xgAAAABJRU5ErkJggg==');
                                background-repeat: no-repeat;
                                width: 25px;
                                height: 25px;
                            }
                        }
                        &:nth-child(2){
                            font-size: 10pt;
                        }
                    }                    
                }
            }
        }
        > div.right{
            display: flex;
            flex-direction: column;
            gap: 25px;
            > div{
                display: grid;
                grid-template-columns: 80px 1fr;
                align-items: center;
                grid-column-gap: 15px;
                background-color: white;
                border-radius: 16px;
                padding: 15px;
                max-width: 500px;
                box-shadow: 0px 0px 40px 0px rgba(145, 161, 180, 0.25);
                picture{
                    img{
                        width: 100%;
                        height: auto;
                        border-radius: 10px;
                        @media (max-width: 350px) {
                            max-width: 100px;
                            border-radius: 50%;
                            margin-top: -50px;
                        }
                    }
                    @media (max-width: 350px) {
                        text-align: center;
                    }
                }
                > div{
                    *:nth-child(1){
                        display: flex;
                        justify-content: space-between;
                        color: #425466;
                        font-weight: 600;
                        font-size: 13pt;
                        span{
                            display: flex;
                            flex-direction: row;
                            gap: 10px;
                            &::after{
                                content: '';
                                background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAZCAYAAAArK+5dAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAF1SURBVHgB7ZRfTsJAEMa/bet7SdDnvYFwAuVZScATeAQ9gXIETwCcoI0cAOMJ9ATuOxKIPtJ2nUHBitt22/Ji4i/pv+nufLOzMwv8dYTtwEUg/dhFDzGWzb4Kbec5tgNjD0MKZwgPwetEBrbzrATmE3lDj17K1PuyFVKYolkgT4WHqemfBjqHXfWQNz93BZR3CZfSks1wPSYHYXDqR0CLouYUtOjyUUxInsLmuRpnCnAk8QE51etc2zg1sWQhd4VBo68UG7zNn8jFVGhI1MOnAC+p4njlbTZs90CI2s7TtDYvWwGqiDvsC4HRLwEvwq3WUKgJBareV7j+1koxm1DNw1zztiQO2kdn6mnz/aMPuGl0ggEqQtEP0s4ZYyfP7+WLLr/py2ZXNXaN1oddEYJ7wIBRoEL0nB5pLbBPygpolMTLsHOpdlIO12cMEjwmn99czic73R9aC7gRLiIHV46DBTl8Npz5I75x31AKjvn9LcIY/1ThAy9aa0T9qlWaAAAAAElFTkSuQmCC');
                                width: 120px;
                                height: 25px;
                            }
                        }
                        @media (max-width: 450px) {
                            flex-direction: column;
                        }
                    }
                    *:nth-child(2){
                        color: #425466;
                    }
                }
                &:nth-child(1){
                    margin-left: auto;
                    margin-top: -30px;
                    @media (max-width: 767px) {
                        margin-top: 0px;
                    }
                }
                &:nth-child(2){
                    margin-right: auto;
                }
                &:nth-child(3){
                    margin-left: auto;
                    margin-bottom: -30px;
                }
                @media (max-width: 350px) {
                    grid-template-columns: 1fr;
                }
            }
            @media (max-width: 350px) {
                gap: 50px;
            }
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
            grid-row-gap: 25px;
            padding-top: 35px;
        }
        @media (max-width: 350px) {
            grid-row-gap: 70px;
        }
    }
}

div.content_destinations{
    padding-top: 60px;
    padding-bottom: 50px;
    > div.top{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 15px;
        > h2{
            font-size: 23pt;
            font-weight: 500;
        }
    }
    > div.bottom{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 35px;
        padding-top: 25px;
        > div{
            display: flex;
            flex-direction: column;
            gap: 15px;
            > a.image{
                position: relative;
                width: 100%;
                > div.mask{
                    background: linear-gradient(0deg, rgba(0, 0, 0, .5), transparent);
                    border-radius: 15px;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    z-index: 2;
                }
                picture{
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 15px;
                        object-fit: cover;
                    }
                }
                > p{
                    position: absolute;
                    bottom: 15px;
                    left: 15px;
                    color: white;
                    font-size: 14pt;
                    z-index: 3;
                }
            }
            > div.information{
                border-top: 1px solid #E0E0E0;
                padding-top: 15px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 8px;
                grid-row-gap: 15px;
                > *:nth-child(1){
                    > *:nth-child(1){
                        font-weight: bold;
                    }
                    > *:nth-child(2){
                        font-size: 20pt;
                        font-weight: bold;
                        color: #377DFF;
                    }
                }
                > *:nth-child(2){
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    > a{
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        border-radius: 8px;
                        background: linear-gradient(0deg, rgba(55, 125, 255, 0.10) 0%, rgba(55, 125, 255, 0.10) 100%), #FFF;
                        padding: 8px 8px 12px 8px;
                        &::after{                                    
                            content: '';
                            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAApCAYAAABHomvIAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAE/SURBVHgB7ddBTsJAFMbxbwp7yw28gWw0LKsn8Agcwb1GRk/gicSlceMR8AhdkpjynM9A0pAMkPR7C5L5JwQyTdtfWuABUCqVSufT7MkWN8+2gLAAUcRZQORrPn+9hhcIkgBn0S43Hb7TwerdmgpZQdBnDD82wq0B7W4tGKLidstuMbuONg0dlsorKQUyNVIOZEqkC5CpkG5ApkC6AtlQpDuQDUFmgf9fvr+YQ1WFq3Sy+/7SKcg88NEaq7CEc8eQkkkypDRx5s2D1bnt49yGaoy222AFUWkMTvrvwW2rMMLdx1toc/u5f0iaaDDDZN3hPZ1tij0c5/ih/V2BQ3HMDajAMRegCsfkQCWOSYFqHJMBPXBMAvTCMdUkqT1wTAJcc0IEXPSWJDim+1+cfv0YryIPKsLJI5IPlEql0vn0B+ACzV6Y3g0VAAAAAElFTkSuQmCC');
                            width: 35px;
                            height: 33px;
                        }
                    }
                }
                @media (max-width: 1199px) {
                    grid-template-columns: 1fr;
                    grid-row-gap: 0px;
                }
                @media (max-width: 767px) {
                    grid-template-columns: 1fr 1fr;
                    grid-row-gap: 15px;
                }
                @media (max-width: 350px) {
                    grid-template-columns: 1fr;
                    grid-row-gap: 0px;
                }
            }
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 35px;
        }
        @media (max-width: 550px) {
            grid-template-columns: 1fr;
        }
    }
}

div.content_five{
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-column-gap: 15px;
    padding-top: 70px;
    > div.right{
        display: flex;
        align-items: end;
        justify-content: center;    
        picture{
            img{
                width: 100%;
                height: auto;
                @media (max-width: 767px) {
                    max-width: 300px;
                }                
            }
        }
    }
    @media (max-width: 991px) {
        grid-template-columns: 1fr;
    }
}