.before_menu_container{
    background-color: #16161D;
    .before_menu_items{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        h1, h2, h3{
            font-size: 11pt;
        }
        > div{
            display: flex;
            flex-direction: row;
            gap: 15px;
            align-items: center;
            a, p{
                color: white;
            }
            @media (max-width: 900px) {
                flex-direction: column;
                gap: 0px;
            }
        }
        @media (max-width: 950px) {
            flex-direction: column;
            gap: 8px;
        }
        @media (max-width: 767px) {
            display: none;
        }
    }
}