@import "../base/variables";
@import "../header/checkout";
@import "../footer/checkout";

.parallax-container{
    background-image: url("/assets/img/banners/general.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    > div{
        padding-top: 50px;
        padding-bottom: 50px;
        h1{
            color: white;
            text-align: center;
        }
    }
}

div.redirect-container{
    padding-top: 45px;
    padding-bottom: 25px;
    text-align: center;
}