@import "../base/variables";
@import "../header/before_menu";
@import "../header/index";
@import "../components/bookingbox/horizontal";
@import "../footer/index";
@import "../components/breadcrumb/index";


div.heading{
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: rgba(0, 123, 255, 0.1);
    > div{
        > .top{
            display: flex;
            flex-direction: column;
            gap: 8px;
            h1{
                font-weight: normal;
            }            
        }
        > div.bottom{
            padding-top: 15px;
            iframe{
                box-shadow: 0 0 40px 0 rgba(145,161,180,.502);
                background-color: #fff;
                border-radius: 8px;
                min-height: 270px;
                @media (max-width: 811px) {
                    min-height: 450px;
                }
                @media (max-width: 540px) {
                    min-height: 650px;
                }
            }      
        }
    }
}

div.information-clients{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    padding-top: 25px;
    > div.left_{
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
    }
    > div.right_{
        text-align: center;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media (max-width: 900px) {
                object-fit: contain;
            }
            @media (max-width: 767px) {
                max-width: 350px;
            }
        }        
    }
    @media (max-width: 767px) {
        grid-template-columns: 1fr;
    }
}

div.gray-background{
    background-color: #F9F9F9;
    margin-top: 35px;
    padding-top: 35px;
    padding-bottom: 25px;
    div.highlights-elements{        
        > .top{
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: center;        
            h2{
                width: 40%;
                text-align: center;
                @media (max-width: 767px) {
                    width: auto;
                }
            }            
        }
        > div.bottom{
            padding-top: 25px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 25px;
            grid-row-gap: 25px;
            > div.items{
                display: grid;
                grid-template-columns: 50px 1fr;
                grid-column-gap: 15px;
                > div.left_{
                    padding: 8px;
                    background-color: white;
                    border: 1px solid #DDE5FD;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-self: flex-start;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                }
                > div.right_{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }
            }
            @media (max-width: 767px) {
                grid-template-columns: 1fr;
            }
        }
    }

}

div.hotels-listing{
    padding-top: 25px;
    padding-bottom: 25px;
    > div.top{
        padding-bottom: 15px;
    }
    > div.bottom{
        border: 1px solid #F9F9F9;
        border-radius: 8px;
        > p{
            padding: 15px 15px;
            background: #F9F9F9;
            font-weight: bold;
            border: 1px solid #F9F9F9;
            &:first-child{
                border-radius: 8px 8px 0px 0px;
            }
        }
        > div{            
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            > a{
                padding: 5px 15px;
                border-right: 1px solid #F9F9F9;
                color: #1434CB;
            }
            @media (max-width: 600px) {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}